##############################
## cmake                    ##
##############################
[Bb][Uu][Ii][Ll][Dd]/

##############################
## tobot                    ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/
logs

##############################
## clang                    ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/

##############################
## vscode                   ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/
