##############################
## cmake                    ##
##############################
[Bb][Uu][Ii][Ll][Dd]/

##############################
## tobot                    ##
##############################
[Ll][Oo][Gg][Ss]/

##############################
## clang                    ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/

##############################
## vscode                   ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/

##############################
## Dear Imgui               ##
##############################
imgui.ini